.tripHeader {
	display: flex;
	flex-direction: column;
	align-items: start;
	transition: all var(--m-dur) var(--m-ease);

	@apply --mx-bg(var(--m-tint-wash));
	@apply --mx-ring(--fn-ring(var(--m-tint-wash), 16px));

	@media (min-width: 640px) {
		border-radius: var(--m-rd);
		@apply --mx-ring(--fn-ring(var(--m-tint-wash), 8px));
	}
}

.tabsHeaderRoot {
	margin-block-end: var(--m-sp-md);
	display: unset;
}

.tabsHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--m-sp-sm);
	padding-inline: var(--m-sp-sm);
	padding-block: var(--m-sp-md);
}

.tabsToggle {
	margin: var(--m-sp-xs);
	flex: 0 0 auto;
}

.tabsList {
	position: sticky;
	top: 0;
	z-index: 2;
	width: 100%;
	overflow-y: clip;
	overflow-x: auto;
	border: none;
	box-shadow: none;
	background-color: var(--m-gray-wash);
	justify-self: start;
}

.tabsEmpty {
	width: 100%;
	padding: var(--m-sp-md);
	font-style: italic;
	@apply --mx-fg(var(--m-gray-heavy));
}

.tab {
	position: relative;
	z-index: 1;
	flex-shrink: 0;
	overflow: hidden;
}

.tabText {
	text-wrap: nowrap;
}

.tabProgress {
	position: absolute;
	bottom: 0;
	left: var(--m-sp-sm);
	right: var(--m-sp-sm);
	z-index: 1;
	overflow: hidden;
	border: var(--m-lw) solid var(--m-tint);
	border-bottom-width: 0;
}

.tabProgressIndicator {
	height: --fn-literal(4px);
	width: 100%;
	background-color: var(--m-color-success);
}

.items {
	margin: 0;
	margin-block-end: var(--m-sp-lg);
}
