@keyframes category-collapse {
	from {
		height: var(--height);
		opacity: 1;
	}
	to {
		opacity: 0;
		height: 0;
	}
}

@keyframes fade-in-up {
	from {
		opacity: 0;
		transform: translateY(8px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.claim {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.root {
	margin-bottom: var(--m-space-sm);
	display: flex;
	flex-direction: column;
	overflow: clip;
	border-radius: var(--m-radius-md);
	transition: all var(--m-duration) var(--m-easing-loose);
	@apply --mx-bg(inherit);
	transform: scale(var(--scale, 100%));

	&[data-dragged-over='true'] {
		@apply --mx-ring(var(--m-color-main-heavy));
		@apply --mx-bg(var(--m-color-main-wash));
	}
	&[data-is-item-dragging='true'] {
		margin-bottom: 0;
		@apply --mx-ring(var(--m-color-neutral-light));

		&[data-dragged-over='false'] {
			--scale: 95%;
		}
	}
	&[data-is-empty='true']:not([data-is-item-dragging='true']) {
		animation-name: category-collapse;
		animation-duration: var(--m-duration);
		animation-timing-function: var(--m-easing);
		animation-fill-mode: forwards;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		margin-bottom: 0;
		height: 0;
	}
	&[data-pop-in='true'][data-dragged-over='false'][data-is-item-dragging='false'] {
		animation-name: fade-in-up;
		animation-duration: var(--m-duration);
		animation-timing-function: var(--m-easing-loose);
		animation-fill-mode: forwards;
	}
	&:focus-visible {
		@apply --mx-ring(var(--m-color-main-heavy));
		@apply --mx-fg(var(--m-color-main-heavy));
	}

	&[data-do-not-animate='true'] {
		animation: none !important;
	}
	@media (prefers-reduced-motion: reduce) {
		animation: none !important;
	}
}

.items {
	display: flex;
	flex-direction: column;
	transition: opacity var(--m-duration) var(--m-easing-loose);

	&[data-is-item-dragging='true'] {
		opacity: 0;
	}
}
