.root {
	margin-block-end: var(--m-space-lg);
	display: flex;
	flex-direction: column;
}

.title {
	margin-inline-start: var(--m-space-md);
	margin-block-end: var(--m-space-sm);
	font-size: var(--m-prose-secondary-size);
}
