.root {
	margin-bottom: var(--m-sp-md);
}

.titleRow {
	margin-bottom: var(--m-sp-xs);
}

.title {
	font-size: var(--m-prose-ambient-size);
}

.more {
	margin-top: var(--m-sp-md);
	display: flex;
	justify-content: center;
}
