.linkButton {
	&[data-transitioning='true'] {
		opacity: 70%;
	}
}

.textLink {
	&[data-transitioning='true'] {
		opacity: 70%;
	}
	@apply --mx-fg(var(--m-tint));
	cursor: pointer;
	font-weight: var(--m-fw-bold);
}
