.heading {
	margin-block: var(--m-sp-md);
	@media (max-width: 768px) {
		display: none;
	}
}

.title {
	font-weight: var(--m-fw-bold);
}

.pip {
	position: absolute;
	top: var(--m-sp-xs);
	right: var(--m-sp-xs);
	width: --fn-literal(6px);
	height: --fn-literal(6px);
	border-radius: 50%;
	@apply --mx-bg(var(--m-color-attention));
	@apply --mx-shadow(var(--m-shadow-sm));
}
