---
import { SITE_TITLE } from '../consts';
---

<header>
  <nav
    class="row py-1 px-4 bg-primary-wash border-b border-b-solid border-b-black mb-2"
  >
    <h2 class="font-fancy"><a href="/">{SITE_TITLE}</a></h2>
  </nav>
</header>
