.canvasWrap {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;

	@media (min-width: 640px) {
		height: 100%;
		width: auto;
	}
}

.picker {
	--pointer-size: 32px;
	--size: 160px;
	--x-mult: 1;
	--x: 0;
	--y-mult: 1;
	--y: 0;

	@media (min-width: 768px) {
		--pointer-size: 0px;
		--size: 84px;
	}

	transform: translate(-50%, -50%)
		translate(
			calc(
				var(--x-mult, 1) * (var(--size) + var(--pointer-size)) / 2 /
					var(--zoom, 1)
			),
			calc(
				var(--y-mult, 1) * (var(--size) + var(--pointer-size)) / 2 /
					var(--zoom, 1)
			)
		);

	left: var(--x);
	top: var(--y);

	height: calc(var(--size) / var(--zoom, 1));
	width: calc(var(--size) / var(--zoom, 1));

	@apply --mx-borderColor(var(--m-gray-heavy));
	pointer-events: none;
	position: fixed;
	overflow: clip;

	display: none;
	&[data-show='true'] {
		display: block;
	}
}

.pickerDot {
	@apply --mx-borderColor(var(--m-gray-heavy));
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	height: calc(var(--size) / 6 / var(--zoom, 1));
	width: calc(var(--size) / 6 / var(--zoom, 1));
	transform: translate(-50%, -50%);
}

.bubbles {
	pointer-events: none;
	position: absolute;
	inset: 0;
}

.bubble {
	pointer-events: auto;
	position: absolute;
	margin: 0;
	min-height: 0;
	min-width: 0;
	appearance: none;
	border-radius: --fn-literal(999px);
	@apply --mx-borderColor(var(--m-gray-heavy));
	transform: translate(-50%, -50%);
}

.pickingBubble {
	pointer-events: none;
	position: absolute;
	transform: translate(-50%, -50%);
}

.pickingBubbleBorder {
	pointer-events: none;
	position: absolute;
	height: 100%;
	width: 100%;
	@apply --mx-animation(spin);
	animation-duration: 20s;
	animation-timing-function: linear;
	border-style: dashed;
	border-color: var(--m-gray-paper);
	border-radius: --fn-literal(999px);
}
