.root {
	@apply --mx-bg(var(--m-color-neutral-wash));
	display: flex;
	flex-direction: column;
	gap: var(--m-spacing-sm);
	border-radius: var(--m-radius-md);
	padding: var(--m-spacing-md);
}

.actions {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: var(--m-spacing-sm);
}
