.root {
	min-height: --fn-literal(24px);
	display: flex;
	align-items: center;
	gap: var(--m-sp-xs);
	border-radius: var(--m-action-rd);
	font-weight: var(--m-fw-bold);
	@apply --mx-borderColor(var(--m-gray-heavy));
	@apply --mx-bg(var(--m-bg-light));
}
