.root {
	border-radius: var(--m-radius-md);
	&:focus-within {
		outline: none;
		@apply --mx-ring(var(--m-color-main-heavy), 2px);
	}
}

.link:focus-visible {
	outline: none;
}

.linkContent {
	min-height: --fn-literal(12px);
	min-width: --fn-literal(12px);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--m-space-xs);
	border-radius: var(--m-radius-md);
	padding: var(--m-space-xs);
	font-size: var(--m-prose-ambient-size);
	@apply --mx-fg(var(--m-color-neutral-ink));
	@apply --mx-bg(var(--m-color-main-light));
	padding: var(--m-space-xs) var(--m-space-sm);

	@media (min-width: 900px) {
		padding-inline: var(--m-space-sm);
	}
}

.name {
	display: none;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	@media (min-width: 900px) {
		display: inline;
	}
}

.initials {
	display: inline;
	@media (min-width: 900px) {
		display: none;
	}
}
