.root {
	display: inline-flex;
	border-radius: var(--m-radius);
	& + & {
		margin-left: var(--m-space-xs);
	}
}

.item {
	display: flex;
	align-items: stretch;
	justify-content: center;
	@apply --mx-bg(var(--m-color-neutral-light));
	padding: var(--m-space);
	border: none;
	text-align: start;
	cursor: pointer;
	gap: var(--m-space-sm);

	&[data-state='on'] {
		@apply --mx-bg(var(--m-color-neutral-paper));
		@apply --mx-ring(--fn-ring(var(--m-color-neutral-heavy), 1px));
	}

	@apply --mx-focus;
}

.itemIndicator {
	align-self: start;
	visibility: hidden;
	@apply --mx-fg(var(--m-color-main-heavy));
	@apply --mx-bg(var(--m-color-main-wash));
	width: --fn-literal(16px);
	height: --fn-literal(16px);
	border-radius: var(--m-radius);

	[data-state='on'] & {
		visibility: visible;
	}
}

.itemLabel {
	display: flex;
	flex-direction: column;
	gap: var(--m-space-sm);
	align-items: start;
	@apply --mx-prose-ambient;
	justify-content: center;
}

.itemTitle {
	@apply --mx-fg(var(--m-color-neutral-ink));
	font-weight: var(--m-text-weight-bold);
}

.itemDescription {
	@apply --mx-fg(var(--m-color-neutral-heavy));
	font-size: var(--m-text-size-sm);
}
