.root {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: var(--m-sp-md);
	padding: 0;
}

.item {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: var(--m-sp-md);
}
