.root {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-block: var(--m-sp-sm);
}

.header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.form {
	padding-block: var(--m-sp-sm);
}

.formActions {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: var(--m-sp-sm);
}
