.picker {
	width: 100%;
	transition: height var(--m-dur) var(--m-ease);

	height: 100dvh;
	&[data-has-value='true'] {
		height: 50dvh;
	}
}

.metadata {
	max-width: --fn-literal(512px);
	width: 100%;
	border-top: var(--m-lw-lg) solid var(--m-tint-ink);
	padding-bottom: var(--m-sp-xl);
	padding-top: var(--m-sp);
}
