.picker {
	transition-property: background-color, color;
	transition-duration: var(--m-dur);
	transition-timing-function: var(--m-ease);
}

.thumb {
	height: --fn-literal(40px);
	width: --fn-literal(40px);
	font-size: --fn-literal(24px);

	&[data-has-value='false'] {
		border-style: dashed;
	}
}

.icon {
	font-size: --fn-literal(32px);
}
