.root {
	position: fixed;
	left: var(--m-sp-sm);
	top: var(--m-sp-sm);
	z-index: 1;
}

.day {
	&[data-mood-value='-2'] {
		@apply --mx-bg(var(--m-color-attention));
	}
	&[data-mood-value='-1'] {
		@apply --mx-bg(var(--m-color-attention-light));
	}
	&[data-mood-value='0'] {
		@apply --mx-bg(var(--m-tint));
	}
	&[data-mood-value='1'] {
		@apply --mx-bg(var(--m-color-success-light));
	}
	&[data-mood-value='2'] {
		@apply --mx-bg(var(--m-color-success));
	}

	&[data-selected='true'] {
		@apply --mx-ring(var(--mx-bg-ref), 2px, 1px);
	}
}
