.cardMainJustifyStart {
	justify-content: flex-start;
}

.cardTitleRow {
	flex-direction: row;
}

.you {
	font-weight: var(--m-fw-bold);
}

.cardTitleRowMuted {
	flex-direction: row;
	@apply --mx-fg(var(--m-gray-heavy));
}

.membershipLimit {
	padding-block: var(--m-sp-md);
	@apply --mx-fg(var(--m-gray-heavy));
}
