.root {
	display: flex;
	flex-direction: column;
}

.explainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--m-sp-sm);
}

.divider {
	margin-block: var(--m-sp-md);
}

.titleLink {
	min-width: 0px;
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: var(--m-sp-xs);
	overflow: hidden;
}

.title {
	padding-inline: var(--m-sp-sm);
}

.noShrink {
	flex-shrink: 0;
}
