.spin {
	animation-name: spin;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.offline {
	@apply --mx-fg(var(--m-color-attention-heavy));
}

.banner {
	max-width: 300px;
	padding-block: var(--m-sp-xs);
	padding-inline: var(--m-sp-md);
}

.highlightedOption {
	@apply --mx-bg(var(--m-bg-light));
	@apply --mx-fg(var(--m-fg));

	&:focus-visible {
		@apply --mx-bg(var(--m-fg));
	}
}

.installButton {
	margin-block: var(--m-sp-sm);
	margin-inline: var(--m-sp-md);
	justify-content: space-between;
}
