.washContent {
	@apply --mx-bg(var(--m-tint));
}

.upgradeSectionContent {
	border-block: var(--m-lw) solid;
	@apply --mx-bg(var(--m-tint));
	@apply --mx-borderColor(var(--m-tint-heavy));
	padding-top: 10dvh;
}

.upgradeHeading {
	margin-bottom: var(--m-sp-md);
	font-size: 5vmax;
	text-wrap: balance;
	flex-shrink: 0;
	font-weight: var(--m-fw-normal);
	line-height: 1.2;
}

.upgradeActions {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: var(--m-sp-md);
	padding-block: var(--m-sp-xl);

	@media (min-width: 768px) {
		grid-column-end: span 2;
	}
}
