@keyframes frame {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.frame-1 {
  animation-delay: 0s;
}

.frame-2 {
  animation-delay: 1s;
}

.frame-1,
.frame-2 {
  animation-name: frame;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;

  filter: hue-rotate(-5deg);
}

/* pseudorandom x/y movement */
@keyframes drift {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(3px, -4px);
  }
  20% {
    transform: translate(0px, -5px);
  }
  30% {
    transform: translate(1px, -4px);
  }
  40% {
    transform: translate(0px, -2px);
  }
  50% {
    transform: translate(2px, 0px);
  }
  60% {
    transform: translate(0px, -2px);
  }
  70% {
    transform: translate(3px, -4px);
  }
  80% {
    transform: translate(5px, -3px);
  }
  90% {
    transform: translate(2px, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.drift {
  animation-name: drift;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
