.grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--m-sp-lg);
	width: 100%;
	max-width: 1000px;

	@media (min-width: 640px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.cardMain {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		'icon name'
		'description description';
	align-items: center;
	gap: var(--m-sp-md);
	padding: var(--m-sp-md);
	font-weight: var(--m-fw-normal);
	position: relative;
}

.name {
	grid-area: name;
	margin: 0;
	font-size: var(--m-fs);
	font-weight: var(--m-fw-bold);
	background: transparent;
	font-family: Henrietta, 'Noto Serif', serif;
}

.appIcon {
	grid-area: icon;
	height: --fn-literal(80px);
	width: --fn-literal(80px);
}

.description {
	grid-area: description;
	font-size: var(--m-fs-sm);
	padding: var(--m-sp-md) !important;
	@apply --mx-fg(var(--m-gray-ink));
}

.externalIcon {
	position: absolute;
	right: var(--m-sp-lg);
	top: var(--m-sp-lg);
	transition: transform 0.15s ease;

	.cardMain:hover & {
		transform: translate(var(--m-sp-sm), calc(-1 * var(--m-sp-sm)));
	}
}
