.phone-wrapper {
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 1000px;
}

@keyframes drift-3d-left {
  0% {
    transform: rotateY(-10deg) rotateX(-3deg);
  }
  10% {
    transform: rotateY(-12deg) rotateX(2deg);
  }
  20% {
    transform: rotateY(-8deg) rotateX(0deg);
  }
  30% {
    transform: rotateY(-14deg) rotateX(-3deg);
  }
  40% {
    transform: rotateY(-6deg) rotateX(2deg);
  }
  50% {
    transform: rotateY(-10deg) rotateX(0deg);
  }
  60% {
    transform: rotateY(-12deg) rotateX(-3deg);
  }
  70% {
    transform: rotateY(-18deg) rotateX(2deg);
  }
  80% {
    transform: rotateY(-14deg) rotateX(0deg);
  }
  90% {
    transform: rotateY(-6deg) rotateX(-5deg);
  }
  100% {
    transform: rotateY(-10deg) rotateX(-3deg);
  }
}

@keyframes drift-3d-right {
  0% {
    transform: rotateY(10deg) rotateX(-3deg);
  }
  10% {
    transform: rotateY(12deg) rotateX(2deg);
  }
  20% {
    transform: rotateY(8deg) rotateX(0deg);
  }
  30% {
    transform: rotateY(14deg) rotateX(-3deg);
  }
  40% {
    transform: rotateY(6deg) rotateX(2deg);
  }
  50% {
    transform: rotateY(10deg) rotateX(0deg);
  }
  60% {
    transform: rotateY(12deg) rotateX(-3deg);
  }
  70% {
    transform: rotateY(18deg) rotateX(2deg);
  }
  80% {
    transform: rotateY(14deg) rotateX(0deg);
  }
  90% {
    transform: rotateY(6deg) rotateX(-5deg);
  }
  100% {
    transform: rotateY(10deg) rotateX(-3deg);
  }
}

.phone {
  position: relative;
  border: 2px solid #323232;
  max-height: 45vh;
}

.phone.left {
  transform: rotateY(-10deg) rotateX(-3deg);
  animation: drift-3d-left 30s infinite;
  box-shadow: 4px 4px 0 4px #020202;
}

.phone.right {
  transform: rotateY(10deg) rotateX(-3deg);
  animation: drift-3d-right 30s infinite;
  box-shadow: -4px 4px 0 4px #020202;
}
