h1,
h2,
h3,
.font-fancy {
	font-family: Henrietta, 'Noto Serif', serif;
}

a {
	font-weight: bold;
}

#root {
	position: relative;
}

body,
html {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

body,
#root {
	flex: 1;
}
