.footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	gap: var(--m-space-sm);
	padding-bottom: var(--m-space-sm);
	padding-top: var(--m-space-xl);
	font-size: var(--m-text-size-sm);
	opacity: 0.5;

	&:hover {
		opacity: 1;
	}
}

.leftCol {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--m-space-sm);
}

.brand {
	font-family: Henrietta, 'Noto Serif', serif;
	font-size: var(--m-text-size-sm);
	font-weight: var(--m-text-weight-bold);
}

.rightCol {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: var(--m-space-sm);
}
