.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: stretch;
	justify-content: stretch;
	gap: var(--m-sp);
}

.premiumBadge {
	font-weight: var(--m-fw-bold);
	@apply --mx-fg(var(--m-accent-heavy));
	@apply --mx-bg(var(--m-accent-wash));
	border-radius: --fn-literal(999px);
	padding: var(--m-sp-xs) var(--m-sp-md);
	@apply --mx-borderColor(var(--m-accent-heavy));
	font-size: var(--m-fs-sm);
}
