.root {
	position: fixed;
	top: var(--m-sp-sm);
	right: var(--m-sp-sm);
	@apply --mx-surface-ambient;
	border-radius: --fn-literal(999px);
	@apply --mx-shadow(var(--m-shadow-md));
	z-index: 1;
	padding: 0;
}
